@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    --main-backcolor: #ESESE5;
    --second-backcolor: #C3CFD9;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--main-backcolor);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.header{
    height: 10%;
    background-color: var(--second-backcolor);
    color: #E8833A;
    text-align: center;
    font-size: 34px;
    line-height: 40px;
}