.sessions{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sessions > :first-child{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessions > :last-child{
    width: 80%;
    margin: 0 auto;
}

.session{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 23px;
}

.session > div{
    width: 100%;
}

.session button{
    width: 82px;
    height: 43px;
    background-color: #E8833A;
    border-radius: 3px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 8px;
    font-size: 18px;
    line-height: 21px;
    border: none;
    cursor: pointer;
}

.session button:hover{
    opacity: 80%;
}